<!---CITATION--->
<!--The Below code was adapted from the html code file bsg_HTML_UI provided in the Exploration - Web Application Technology.-->
<!--Date: 2/14/2024-->
<!--Code adapted from: bsg_HTML_UI provided in the Exploration - Web Application Technology-->
<!--Author: Dr. Michael Curry-->
<!--Source URL: https://canvas.oregonstate.edu/courses/1946034/pages/exploration-web-application-technology?module_item_id=23809327-->
<!-- The below code implements the HTML structure for the UI of the Classes page-->

<!--HANDLEBAR USE CITATION-->
<!--The handlebar use in the below code to generate the data table and dropdown menu is taken from the Node.js Starter App provided in this course-->
<!--Date: 2/21/2023-->
<!--Copied from: GitHub: osu-cs340-ecampus/nodejs-starter-app - Step 4 and Step 6-->
<!--Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app-->
<!--Authors: George Kochera, Cortona1, Dr. Michael Curry, dmgs11-->


{{!-- Header and JS Script Section--}}
<html>
    <head>
        <title>
            Apex Climbing Classes
        </title>
        <script src="./js/delete_class.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    </head>
</html>

{{!-- Page Body--}}
<body onload="browse()">

    {{!-- Nav Bar --}}
    <nav class="navbar navbar-expand-lg bg-body-tertiary column-gap-3 p-3">
        <h2>Apex Climbing Gym</h2>
        <a href="/">Home</a> |
        <a href="locations"> Locations</a> |
        <a href="classes">Classes</a> |
        <a href="sessions">Sessions</a> |
        <a href="routes">Routes</a> |
        <a href="routesetters">RouteSetters</a> |
        <a href="routetypes">RouteTypes</a>
    </nav>

    <div class="pageBody p-3">

        <br>
        <h1>Classes</h1>

        <br>
        <div id="info">
            <fieldset class="fs-5">
                <p>Operations available for Classes: SELECT, INSERT, DELETE (affects M:N relationship)</p>
            </fieldset>
        </div>

        {{!-- Table to display Classes data --}}
        <div id="browse">
            <p><strong>Browse Classes - Displays All Classes Currently In The Database</strong></p>
            <table id="class-table" class="table table-hover">
                {{!--Table Header section --}}
                <thead>
                    <tr>
                        <th>Class ID</th>
                        <th>Class Name</th>
                        <th>Size Limit</th>
                        <th>Delete</th>
                    </tr>
                </thead>

                {{!-- Table Body section --}}
                <tbody class="table-group-divider">
                    {{!-- For each row, print the id, className sizeLmit--}}
                    {{#each data}}
                    <tr data-value="{{this.idClass}}">
                        <td>{{this.idClass}}</td>
                        <td>{{this.className}}</td>
                        <td>{{this.sizeLimit}}</td>
                        <td><button class="btn btn-secondary btn-sm" onclick="permanentClassDelete({{this.idClass}})">Delete</button></td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>

            {{!-- Button to display Add Form --}}
            <br>
                <form method="POST" id="insertclass">
                    <input class="btn btn-secondary" type="button" value="Add Class" onClick="newClass()">
                </form> 
        </div>

        {{!-- Add From --}}
        <div id="insert">
            <form id="addClass" method="POST" action="/add_class"> 
                <div class="add my-5 p-2 border border-primary">

                    <h2 class="p-1 my-2">Add a New Class</h2>
                    <p>To add a new class, please enter its information below and click 'Submit'! All fields are required.</p>
                    
                    <label class="p-1 my-2"> Class Name: </label> <input type="text" name="className" id="className" required>
                    <label class="p-1 my-2"> Size Limit: </label> <input type="number" min="1" name="sizeLimit" id="sizeLimit" required><br>
                    <span class="p-1 my-2">Note: Duplicate class names not allowed</span>
                    <br><br><br>
                    <span><strong class="font-weight-bold fs-5 m-1">First Class Session</strong></span><br>
                    <label class="p-1 my-2"> Location: </label> <select name="locationName" id="locationName" required>
                        {{#each locations}}
                        <option value="{{this.idLocation}}">{{this.locationName}}</option>
                        {{/each}}
                        </select>
                    <label class="p-1 my-2">Date:</label><input type="date" name="classDate" id="classDate" required><br><br>
                    
                    <input class="btn btn-primary btn-sm m-1" type="submit"  id="addClass" value="Submit">
                    <input class="btn btn-secondary btn-sm m-1" type="button" value="Cancel" onClick="browse()">
                </div>
            </form> 
        </div>
    </div>
</body>