<!-- locations.hbs -->

<!---CITATION--->
<!--The Below code was adapted from the html code file bsg_HTML_UI provided in the Exploration - Web Application Technology.-->
<!--Date: 2/14/2024-->
<!--Code adapted from: bsg_HTML_UI provided in the Exploration - Web Application Technology-->
<!--Author: Dr. Michael Curry-->
<!--Source URL: https://canvas.oregonstate.edu/courses/1946034/pages/exploration-web-application-technology?module_item_id=23809327-->
<!-- The below code implements an HTML shell page to demonstrate how CRUD operations will work in the user interface for the Locations Entity-->

<!--HANDLEBAR USE CITATION-->
<!--The handlebar use in the below code to generate the data table is taken from the Node.js Starter App provided in this course-->
<!--Date: 2/21/2023-->
<!--Copied from: GitHub: osu-cs340-ecampus/nodejs-starter-app - Step 4-->
<!--Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app-->


<html>
    <head>
        <title>
            Apex Climbing Locations
        </title>
        <link href="style.css" rel="stylesheet" type="text/css"/>
        <script language="JavaScript">
            function showform(action) {
                if (action == 'update'){
                } if (action == 'insert'){
                    document.getElementById('browse').style.display = 'none';
                    document.getElementById('insert').style.display = 'block';
			    } else { //by default display browse
				    document.getElementById('browse').style.display = 'block';
				    document.getElementById('insert').style.display = 'none';
			    }
            }
            function newLocation() { showform('insert'); }
            function browse() { showform ('browse'); }
        </script>
    </head>
</html>

<body onload="browse()">
    <h1>Locations</h1>
    <a href="index">Home</a> |
    <a href="locations"> Locations</a> | 
    <a href="classes">Classes</a> | 
    <a href="sessions">Sessions</a> | 
    <a href="routes.html">Routes</a> | 
    <a href="routesetters.html">RouteSetters</a> | 
    <a href="routetypes.html">RouteTypes</a>

    <br><br>
    <div id="info">
        <fieldset>
            <p>Operations available for Locations: SELECT, INSERT</p>
        </fieldset>
    </div>
    <div id="browse">
        <p><strong>Browse Locations - Displays All Locations Currently In The Database</strong></p>
        {{!--Create a table --}}
        <table border="1" cellpadding="5">
            {{!--Header section --}}
            <thead>
                {{!--For just the first row, we print each key of the row object as a header cell so we
                know what each column means when the page renders --}}
                <tr>
                    {{!--{{#each data.[0]}}--}}
                    <th>Location ID</th>
                    <th>Location Name</th>
                    <th>Street Address</th>
                    <th>City</th>
                    <th>State</th>
                    <th>Zipcode</th>
                    {{!--{{/each}}--}}
                </tr>
            </thead>

            {{!-- Body section --}}
            <tbody>
                {{!-- For each row, print the id, locationName, streetAddress, city, state, zipcode --}}
                {{#each data}}
                <tr>
                    <td>{{this.idLocation}}</td>
                    <td>{{this.locationName}}</td>
                    <td>{{this.streetAddress}}</td>
                    <td>{{this.city}}</td>
                    <td>{{this.state}}</td>
                    <td>{{this.zipcode}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
        <br>
            <form method="POST" id="insertLocation">
                <input class="btn" type="button" value="Add Location" onClick="newLocation()">
            </form> 
    </div>

    <div id="insert">
        <form method="POST" id="addLocation">
            <p><strong>Add New Location</strong></p>
            <fieldset class="fields">
                <label> Location Name: </label> <input type="text" name="locationName"><br>
                <label> Street Address: </label> <input type="text" name="streetAddress"><br>
                <label> City: </label> <input type="text" name="city"><br>
                <label> State: </label> <input type="text" name="state"><br>
                <label> Zipcode: </label> <input type="text" name="zipcode"><br>
            </fieldset>
            <br>
            <input class="btn" type="submit" id="addLocation" value="Add Location">
            <input class="btn" type="button" value="Cancel" onClick="browse()">
        </form> 
    </div>
</body>