<!--HANDLEBAR USE CITATION-->
<!--The handlebar use in the below code to generate the data table is taken from the Node.js Starter App provided in this course-->
<!--Date: 2/25/2024-->
<!--Copied from: GitHub: osu-cs340-ecampus/nodejs-starter-app - Step 4 -->
<!--Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app-->

<!--TOGGLE ADD BUTTONS SCRIPT CITATION-->
<!--The purpose of this script is to allow users to toggle between hiding and showing add/update forms as needed.-->
<!--Date: 2/25/2023-->
<!--Adapted from: W3 Schools How TO - Toggle Hide and Show-->
<!--Source URL: https://www.w3schools.com/howto/howto_js_toggle_hide_show.asp-->

<script>
    function hideAndShowAdd() {
        var toggleAdd = document.getElementById("hiddenAdd");
        if (toggleAdd.style.display === "none") {
            toggleAdd.style.display = "block";
        } else {
            toggleAdd.style.display = "none";
        }
    }
</script> 


<body>
<nav class="navbar navbar-expand-lg bg-body-tertiary column-gap-3 p-3">
    <h1>RouteSetters</h1>
    <a href="/">Home</a> |
    <a href="locations"> Locations</a> | 
    <a href="classes">Classes</a> | 
    <a href="sessions">Sessions</a> |
    <a href="routes">Routes</a> | 
    <a href="routesetters">RouteSetters</a> | 
    <a href="routetypes">RouteTypes</a>
</nav>

<div class="pageBody p-3">

    <br>
    <div id="info">
    <fieldset class="fs-5">
        <p>Operations available for RouteSetters: SELECT, INSERT</p>
    </fieldset>
    </div>

<p><strong>Browse RouteSetters - Displays All RouteSetters Currently In The Database</strong></p>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

<table id="routesetters-table" class="table table-hover">
    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            <th>Route Setter ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Cert Level</th>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody class="table-group-divider">

        {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
        {{#each data}}
        <tr data-value="{{this.idRouteSetter}}">
            <td>{{this.idRouteSetter}}</td>
            <td>{{this.firstName}}</td>
            <td>{{this.lastName}}</td>
            <td>{{this.certLevel}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>

<br>
<button class="btn btn-secondary" onclick="hideAndShowAdd()">Add Route Setter</button>

{{!-- Form to add a record to the table  --}}
<div id="hiddenAdd" style="display:none"> 
<div class="add my-5 p-2 border border-primary">
<h2 class="p-1">Add a Route Setter</h2>
<p>To add a new route setter, please enter their information below and click 'Submit'! All fields are required.</p>
<form id="add-routesetter-form-ajax">
    <label for="input-firstName" class="p-1 my-2">First Name: </label>
    <input type="text" name="input-firstName" id="input-firstName" >
    
    <label for="input-lastName" class="p-1 my-2">Last Name: </label>
    <input type="text" name="input-lastName" id="input-lastName">

    <label for="input-certLevel" class="p-1 my-2">Certification Level: </label>
    <input type="number" name="input-certLevel" id="input-certLevel" min="1" max="5">
    <br><br>
    <input class="btn btn-primary btn-sm my-1" type="submit">
    <input class="btn btn-secondary btn-sm m-1" type="button" value="Cancel" onClick="hideAndShowAdd()">
</form>
</div>
</div>

{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
<script src="./js/add_routesetter.js"></script>
</div>
</body>