<!---CITATION--->
<!--The Below code was adapted from the html code file bsg_HTML_UI provided in the Exploration - Web Application Technology.-->
<!--Date: 2/14/2024-->
<!--Code adapted from: bsg_HTML_UI provided in the Exploration - Web Application Technology-->
<!--Author: Dr. Michael Curry-->
<!--Source URL: https://canvas.oregonstate.edu/courses/1946034/pages/exploration-web-application-technology?module_item_id=23809327-->
<!-- The below code implements an HTML shell page to demonstrate how CRUD operations will work in the user interface for the Sessions Entity-->

<!--HANDLEBAR USE CITATION-->
<!--The handlebar use in the below code to generate the data table and dropdown menu is taken from the Node.js Starter App provided in this course-->
<!--Date: 2/21/2023-->
<!--Copied from: GitHub: osu-cs340-ecampus/nodejs-starter-app - Step 4 and Step 6-->
<!--Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app-->


<html>
    <head>
        <title>
            Apex Climbing Sessions
        </title>
        <link href="style.css" rel="stylesheet" type="text/css"/>
        <script src="./js/sessions.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    </head>
</html>

<body onload="browse()">
    <h1>Sessions</h1>
    <a href="index">Home</a> |
    <a href="locations"> Locations</a> | 
    <a href="classes">Classes</a> | 
    <a href="sessions">Sessions</a> | 
    <a href="routes">Routes</a> | 
    <a href="routesetters">RouteSetters</a> | 
    <a href="routetypes">RouteTypes</a>

    <br><br>
    <div id="info">
        <fieldset>
            <p>Operations available for Sessions: SELECT, INSERT, UPDATE (for M:N relationship)</p>
        </fieldset>
    </div>

    <div id="browse">
        <p><strong>Browse Sessions- Displays All Sessions Currently In The Database</strong></p>
        <table id="session-table" border="1" cellpadding="5">
            {{!--Header section --}}
            <thead>
                {{!--For just the first row, we print each key of the row object as a header cell so we
                know what each column means when the page renders --}}
                <tr>
                    {{!--{{#each data.[0]}}--}}
                    <th>Session ID</th>
                    <th>Location</th>
                    <th>Class</th>
                    <th>Session Date</th>
                    <th>Size Limit</th>
                    <th>Edit</th>
                    {{!--{{/each}}--}}
                </tr>
            </thead>

            {{!-- Body section --}}
            <tbody>
                {{!-- For each row, print the id, locationName, streetAddress, city, state, zipcode --}}
                {{#each data}}
                <tr data-value="{{this.idSession}}">
                    <td>{{this.idSession}}</td>
                    <td>{{this.locationName}}</td>
                    <td>{{this.className}}</td>
                    <td>{{this.classDate}}</td>   {{!-https://stackoverflow.com/questions/32260117/handlebars-date-format-issue-}}
                    <td>{{this.sizeLimit}}</td>
                    <td><button onClick="updateSession({{this.idSession}})">Edit</button></td>
                </tr>
                {{/each}}
            </tbody>
        </table>
        <br>
        <form method="POST" id="addSession">
            <input class="btn" type="button" value="Add Session" onClick="newSession()">
        </form> 
    </div>

    <div id="update">
        <form id="updateSession">
            <p><strong>Update Session</strong></p>
            <fieldset class="fields">
                <input type="hidden" name="sessionID" id="updateSession" value="1"><br>
                <label> Session ID: </label> <span id="updatesessionID"></span><br>
                <label> Location: </label> <select name="updateLocationName" id="updateLocationName">
                    {{#each locations}}
                    <option value="{{this.idLocation}}">{{this.locationName}}</option>
                    {{/each}}
                    </select>
                 <br>
                <label> Class: </label> <select name="updateClassName" id="updateClassName">
                    {{#each classes}}
                    <option value="{{this.idClass}}">{{this.className}}</option>
                    {{/each}}
                </select>
                <br>
                <label> Session Date: </label> <input type="date" name="updateClassDate" id="updateClassDate"><br>
            </fieldset>
            <br>
            <input class="btn" type="button" id="confirmUpdate" value="Update Session" onClick="sendUpdate()">
            <input class="btn" type="button" value="Cancel" onClick="browse()">
        </form> 
    </div>

    <div id="insert">
        <form id="addSession">
            <p><strong>Add New Session</strong></p>
            <fieldset class="fields">
                <label> Location: </label> <select id="addLocationName">
                    <option value="1" selected>Northeast</option>
                    <option value="2">Southeast</option>
                    <option value="3">Midwest</option>
                    </select>
                <br>
                <label> Class: </label> <select id="addClassName">
                    <option value="1" selected>Mobility</option>
                    <option value="2">Recovery yoga</option>
                    <option value="3">Intro to Lead Climbing</option>
                    <option value="4">Wilderness First Aid</option>
                    <option value="5">Core Power</option>
                </select>
                <br>
                <label> Session Date: </label> <input type="date" id="addClassDate"><br>
            </fieldset>
            <br>
            <input class="btn" type="button" id="confirmAddSession" value="Add Session" onclick="addSession()">
            <input class="btn" type="button" value="Cancel" onClick="browse()">
        </form> 
    </div>

    <div id="display">
        <p id="test1"></p>
        <p id="test2"></p>
        <p id="test3"></p>
        <p id="test4"></p>
    </div>
</body>


